status.json
{
    "id": "334e8e289bddfa97",
    "type": "subflow",
    "name": "Secvest Status",
    "info": "Check Status of your ABUS Secvest Alarm System ",
    "category": "Secvest",
    "in": [
        {
            "x": 60,
            "y": 200,
            "wires": [
                {
                    "id": "6af9eaa97221b31b"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 970,
            "y": 200,
            "wires": [
                {
                    "id": "c31c963c1dd8924d",
                    "port": 0
                },
                {
                    "id": "f02152a805ced214",
                    "port": 0
                }
            ]
        }
    ],
    "env": [
        {
            "name": "ip",
            "type": "str",
            "value": ""
        },
        {
            "name": "port",
            "type": "str",
            "value": "4433"
        },
        {
            "name": "user",
            "type": "str",
            "value": "Admin"
        },
        {
            "name": "password",
            "type": "cred",
            "ui": {
                "label": {
                    "en-US": "password"
                }
            }
        },
        {
            "name": "partition",
            "type": "str",
            "value": "1",
            "ui": {
                "label": {
                    "en-US": "partition"
                },
                "type": "select",
                "opts": {
                    "opts": [
                        {
                            "l": {
                                "en-US": "1"
                            },
                            "v": "1"
                        },
                        {
                            "l": {
                                "en-US": "2"
                            },
                            "v": "2"
                        },
                        {
                            "l": {
                                "en-US": "3"
                            },
                            "v": "3"
                        },
                        {
                            "l": {
                                "en-US": "4"
                            },
                            "v": "4"
                        }
                    ]
                }
            }
        },
        {
            "name": "get",
            "type": "str",
            "value": "state",
            "ui": {
                "label": {
                    "en-US": "get"
                },
                "type": "select",
                "opts": {
                    "opts": [
                        {
                            "l": {
                                "en-US": "List all partitions"
                            },
                            "v": "partitions"
                        },
                        {
                            "l": {
                                "en-US": "Partition Details"
                            },
                            "v": "details"
                        },
                        {
                            "l": {
                                "en-US": "Partition State"
                            },
                            "v": "state"
                        },
                        {
                            "l": {
                                "en-US": "Partition Zones"
                            },
                            "v": "zones"
                        },
                        {
                            "l": {
                                "en-US": "Output State"
                            },
                            "v": "output"
                        },
                        {
                            "l": {
                                "en-US": "Faults"
                            },
                            "v": "faults"
                        },
                        {
                            "l": {
                                "en-US": "Logs"
                            },
                            "v": "logs"
                        }
                    ]
                }
            }
        }
    ],
    "meta": {
        "module": "secvest_status",
        "type": "Status",
        "version": "0.0.1",
        "author": "Yves Reiser",
        "desc": "A node to check the Status of your ABUS Secvest",
        "keywords": "node-red,secvest,abus,alarm",
        "license": "MIT"
    },
    "credentials": {
        "password": ""
    },
    "color": "#FF8800",
    "outputLabels": [
        "json"
    ],
    "icon": "icon.png",
    "flow": [
        {
            "id": "6af9eaa97221b31b",
            "type": "function",
            "z": "334e8e289bddfa97",
            "name": "function 2",
            "func": "var command=env.get('get');\nconst user = env.get('user')+':'+env.get('password');\nconst buf = Buffer.from(user)\nconst encoded = buf.toString(\"base64\");\nconst base_url = msg.url = 'https://' + env.get('ip') + ':' + env.get('port');\n\nmsg.topic='other';\nif(command == 'partitions'){\nmsg.url=base_url+'/system/partitions/';\n}\nelse if (command == 'details') {\n    msg.url = base_url + '/system/partitions-'+env.get('partition')+'/';\n}\nelse if (command == 'zones') {\n    msg.url = base_url + '/system/partitions-' + env.get('partition') + '/zones/';\n}\nelse if (command == 'output') {\n    msg.url = base_url + '/output/';\n}\nelse if (command == 'faults') {\n    msg.url = base_url + '/faults/';\n}\nelse if (command == 'logs') {\n    msg.url = base_url + '/logs/';\n}\nelse if (command == 'state') {\n    msg.url = base_url + '/system/partitions-' + env.get('partition') + '/';\n    msg.topic = 'state';\n}\n\nmsg.headers={\"Authorization\": \"Basic \"+encoded};\nmsg.payload = {\"state\": command};\nmsg.rejectUnauthorized = false;\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 220,
            "y": 200,
            "wires": [
                [
                    "4932a648f0c04975"
                ]
            ]
        },
        {
            "id": "4932a648f0c04975",
            "type": "http request",
            "z": "334e8e289bddfa97",
            "name": "request",
            "method": "GET",
            "ret": "txt",
            "paytoqs": "ignore",
            "url": "",
            "tls": "",
            "persist": false,
            "proxy": "",
            "insecureHTTPParser": false,
            "authType": "",
            "senderr": false,
            "headers": [],
            "x": 400,
            "y": 200,
            "wires": [
                [
                    "59b871fce2c956d7"
                ]
            ]
        },
        {
            "id": "59b871fce2c956d7",
            "type": "json",
            "z": "334e8e289bddfa97",
            "name": "",
            "property": "payload",
            "action": "",
            "pretty": false,
            "x": 570,
            "y": 200,
            "wires": [
                [
                    "87c2e69c83e234ef"
                ]
            ]
        },
        {
            "id": "c31c963c1dd8924d",
            "type": "function",
            "z": "334e8e289bddfa97",
            "name": "function 3",
            "func": "msg.topic=\"\";\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 800,
            "y": 200,
            "wires": [
                []
            ]
        },
        {
            "id": "87c2e69c83e234ef",
            "type": "switch",
            "z": "334e8e289bddfa97",
            "name": "",
            "property": "topic",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "other",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "state",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 2,
            "x": 690,
            "y": 260,
            "wires": [
                [
                    "c31c963c1dd8924d"
                ],
                [
                    "f02152a805ced214"
                ]
            ]
        },
        {
            "id": "f02152a805ced214",
            "type": "function",
            "z": "334e8e289bddfa97",
            "name": "function 4",
            "func": "msg.topic=\"\";\nmsg.payload=msg.payload.state;\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 880,
            "y": 260,
            "wires": [
                []
            ]
        },
        {
            "id": "46204c7143e76ae2",
            "type": "subflow:334e8e289bddfa97",
            "z": "acb2df8b3c4eb35c",
            "name": "",
            "env": [
                {
                    "name": "ip",
                    "value": "192.168.40.10",
                    "type": "str"
                },
                {
                    "name": "user",
                    "value": "Yves",
                    "type": "str"
                },
                {
                    "name": "password",
                    "type": "cred"
                },
                {
                    "name": "partition",
                    "value": "3",
                    "type": "str"
                }
            ],
            "x": 400,
            "y": 140,
            "wires": [
                [
                    "fb50adfa165c99e0"
                ]
            ]
        }
    ]
}
