examples/example_flow.json
[
    {
        "id": "b0798f562a5d90e7",
        "type": "tab",
        "label": "Secvest",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6810c5491f741a75",
        "type": "inject",
        "z": "b0798f562a5d90e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "inject",
        "payloadType": "str",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "3ad881402a6edf43"
            ]
        ]
    },
    {
        "id": "860bde5c71eede05",
        "type": "inject",
        "z": "b0798f562a5d90e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "unset",
        "payloadType": "str",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "bd1e56e37335ee7a"
            ]
        ]
    },
    {
        "id": "3ad881402a6edf43",
        "type": "Secvest Status",
        "z": "b0798f562a5d90e7",
        "name": "",
        "server": "647040c3fead25e3",
        "partition": "1",
        "command": "details",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "8b5a8ce79095cbfa"
            ]
        ]
    },
    {
        "id": "bd1e56e37335ee7a",
        "type": "Secvest Command",
        "z": "b0798f562a5d90e7",
        "name": "",
        "server": "647040c3fead25e3",
        "partition": "1",
        "command": "unset",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "898a9ed2ebb8b79a"
            ]
        ]
    },
    {
        "id": "8b5a8ce79095cbfa",
        "type": "debug",
        "z": "b0798f562a5d90e7",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "898a9ed2ebb8b79a",
        "type": "debug",
        "z": "b0798f562a5d90e7",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "647040c3fead25e3",
        "type": "ABUS Secvest",
        "servername": "Secvest",
        "host": "192.168.1.100",
        "port": "4433",
        "user": "Admin",
        "password": "1234"
    }
]
